*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}




.Interior-service-content{
    background-image: linear-gradient(to right, #e4d2e829 , rgba(0, 183, 255, 0.178)) !important;
}

.Interior-service-hero-section{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("../img/Bathroom/split_bathroom/WhatsApp\ Image\ 2023-04-19\ at\ 11.59.45\ PM.jpeg");
    min-height: 100%;
    position: relative;
    /* filter: blur(1.5px) !important; */
    /* -webkit-filter: blur(1px); */
    height: 90vh;
    width: 100vw;
}

.dis-relative{
    position: relative;
}

.interior-animation{
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
   /* background-color: rgba(0, 0, 255, 0.551); */
   background-image: linear-gradient(to right, #e4d2e8 , rgb(0, 183, 255));
   display: inline;
   box-shadow: 0 0 10px white;
   border-radius: 10px;
}

.interior-animation p{
    font-size: 2em;
    font-weight: 600;
    text-shadow: 0 0 white;
    color: #8a3e64;
    padding: 1rem;
    letter-spacing: .05em;
    text-align: center;
}

.interior-animation p:after
{
    animation-duration: 20s ;
			animation-fill-mode: both ;
			animation-iteration-count: infinite ;
			animation-name: loading-ellipsis ;
			animation-timing-function: linear ;
			content: " " ;
			display: inline-block ;
            color: white;
            /* transition-timing-function: ease-in-out; */
}

@media (max-width:600px) {
    .interior-animation{
        left: 0%;
        right: 0%;
    }
}


@keyframes loading-ellipsis {
    
    0%, 100% {
        content: "" ;
    }
}






.Interior-service-content{
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    /* background-color: rgba(128, 128, 128, 0.040); */
    background-color: #fff;
     
}

.Interior-service-content h3{
    font-size: 2rem;
   font-weight: 600;
   
   text-align: center;
   padding:1rem;
   letter-spacing: .03em;
}

.Interior-service-content h3 a{
    text-decoration: none;
}

.Interior-service-content-cards-container{
    /* border: 2px blue solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
   

}

.Interior-service-content-card{
    border: 2px rgba(0, 0, 255, 0.321) solid;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 10px blue;
}

@media (max-width:900px) {
    .Interior-service-content-card{
        width: 45%;
    }
}


@media (max-width:650px) {
    .Interior-service-content-card{
        width: 100%;
        /* margin: auto; */
    }
}

.Interior-service-content-card img{
    max-height: 250px;
    width: 100%;
    
}



.Interior-service-content-card h5{
    text-align: center;
    padding: .5em;
   
}

.Interior-service-content-card img{
    min-height: 250px;
    
}